body {

    font-family: fantasy;
}
    #product-overview{
    
        background: #ff1b68;
        color: aqua;
        padding: 10px;
    }


.section-title{
    color: rgba(15, 231, 33, 0.884);
    font-family: inherit;

}

/* h1{
    font-family: serif;
} */

h1{
    font-family: cursive;
    color: aliceblue;
}