
    #product-overview{
    
        background: #ff1b68;
        color: aqua;
        padding: 10px;
    }

#plans{

    font-family: cursive;
    padding: 10px;
    background: #ff1b68;
    margin-top: 5px;
}
.section-title{
    color: #ff54;
}